$webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-tooltips")
$webResourceManager.requireResource("com.aprey.jira.plugin.openpoker.open-poker:open-poker-resources")

<input type="hidden" id="open-poker-js-issueId" value="$issueId"/>
<input type="hidden" id="open-poker-js-userId" value="$userId"/>
<input type="hidden" id="open-poker-js-contextPath" value="$contextPath"/>
<input type="hidden" id="open-poker-js-session-status" value="$viewDTO.getSession().getStatus()"/>

#if($viewDTO)
    #if($viewDTO.getSession().getStatus() == "IN_PROGRESS")
    <ul class="item-details">
        <li class="people-details">
            <dl>
                <dt>Initiated by:</dt>
                <dd>
        <span class="view-issue-field inactive">

    <span class="aui-avatar aui-avatar-small"><span class="aui-avatar-inner"><img
            src="$viewDTO.getModerator().getAvatarUrl()"
            alt="$viewDTO.getModerator().getDisplayName()"></span></span>
            $viewDTO.getModerator().getDisplayName()
        </span>
                    </span>
                </dd>
            </dl>
        </li>
        <li class="people-details">
            <dl>
                <dt>Estimated By:</dt>
                <dd id="open-poker-js-estimators">
                    #if($viewDTO.getEstimates().size() == 0)
                        none
                    #else
                        #foreach($estimate in $viewDTO.getEstimates())
                            <span class="aui-avatar aui-avatar-small">
                                <span class="aui-avatar-inner op-estimator-tooltip"
                                      data-title="$estimate.getEstimator().getDisplayName()"
                                      title="$estimate.getEstimator().getDisplayName()">
                                    <img src="$estimate.getEstimator().getAvatarUrl()"
                                         alt="$estimate.getEstimator().getDisplayName()">
                                </span>
                            </span>
                        #end
                    #end
                </dd>
            </dl>
        </li>
        <li class="people-details">
            <dl>
                <dt>Status:</dt>
                <dd>
                    $viewDTO.getSession().getStatus().getName()
                </dd>
            </dl>
        </li>
    </ul>


    <form action="$contextPath/plugins/servlet/open-poker/session" method="post" class="aui left-aligned-form"
          style="margin-top: 5px">
        <input name="issueId" value="$issueId" type="hidden"/>
        <input name="userId" value="$userId" type="hidden"/>
        #if(!$viewDTO.isAlreadyVoted())
            <div class="field-group">
                <label for="estimationInfo">Your Estimate:</label>
                <select name="estimationGradeId" placeholder="Choose Estimate" style="max-width: 170px"
                        no-empty-values="false" class="op-aui-select">
                    <option class="imagebacked" value="">Choose estimate</option>
                    #foreach($grade in $viewDTO.getEstimationGrades())
                        <option class="imagebacked" value="$grade.getId()">$grade.getValue()</option>
                    #end
                </select>
            </div>
        #end
        <p>
            #if(!$viewDTO.isAlreadyVoted())
                <input name="action" type="submit" value="Vote" class="aui-button aui-button-primary"
                       style="margin-top: 5px"/>
            #end
            #if($userId == $viewDTO.getSession().getModerator().getId())
                <input name="action" type="submit" value="Stop Estimation" class="aui-button" style="margin-top: 5px"/>
            #end
        </p>
    </form>
    #elseif($viewDTO.getSession().getStatus() == "FINISHED" && $viewDTO.getEstimates().size() > 0)
    <table class="aui aui-table-list" style="max-width: 355px">
        <thead>
        <tr>
            <th id="estimator">Estimator</th>
            <th id="estimate">Estimate</th>
        </tr>
        </thead>
        <tbody>
            #foreach($estimate in $viewDTO.getEstimates())
            <tr>
                <td headers="estimator">
                <span class="aui-avatar aui-avatar-small"><span class="aui-avatar-inner">
                    <img
                            src="$estimate.getEstimator().getAvatarUrl()"
                            alt="admin"></span></span>
                    $estimate.getEstimator().getDisplayName()
                </td>
                <td headers="estimate" class="open-poker-estimate-grade">
                    $estimate.getGrade()
                </td>
            </tr>
            #end
        </tbody>
    </table>
    <div style="width: 35%; margin: 20px; max-width: 200px;">
        <canvas id="open-poker-results-chart" width="100" height="100"></canvas>
    </div>
    <div>
        <p>
        <form action="$contextPath/plugins/servlet/open-poker/session" method="post">
            <input name="issueId" value="$issueId" type="hidden"/>
            <input name="userId" value="$userId" type="hidden"/>
            <input name="action" type="submit" value="Re-estimate" class="aui-button aui-button-primary"/>
            <input name="action" type="submit" value="Delete" class="aui-button"/>
        </form>
        </p>
    </div>

    #else
        ## TODO: remove code duplication
    <div>
        <p>
            There's no estimation session In Progress
        </p>
        <p>
        <form action="$contextPath/plugins/servlet/open-poker/session" method="post">
            <input name="issueId" value="$issueId" type="hidden"/>
            <input name="userId" value="$userId" type="hidden"/>
            <input name="action" type="submit" value="Start Estimation" class="aui-button"/>
        </form>
        </p>
    </div>
    #end
#else
<div>
    <p>
        There's no estimation session In Progress
    </p>
    <p>
    <form action="$contextPath/plugins/servlet/open-poker/session" method="post">
        <input name="issueId" value="$issueId" type="hidden"/>
        <input name="userId" value="$userId" type="hidden"/>
        <input name="action" type="submit" value="Start Estimation" class="aui-button"/>
    </form>
    </p>
</div>
#end