<meta name="decorator" content="atl.admin">
$webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-select")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-tooltips")
$webResourceManager.requireResource("com.aprey.jira.plugin.openpoker.open-poker:open-poker-resources")

<input type="hidden" id="open-poker-js-issueId" value="$issueId"/>
<input type="hidden" id="open-poker-js-session-status" value="$viewDTO.getStatus()"/>

#if($viewDTO)
    #if($viewDTO.getSession().getStatus() == "IN_PROGRESS")
    <ul class="item-details">
        <li class="people-details">
            <dl>
                <dt>Initiated by:</dt>
                <dd>
        <span class="view-issue-field inactive">

    <span class="aui-avatar aui-avatar-small"><span class="aui-avatar-inner"><img
            src="$contextPath/secure/useravatar?size=small&amp;ownerId=$viewDTO.getSession().getModerator().getUsername()"
            alt="admin"></span></span>
            $viewDTO.getSession().getModerator().getFullName()
        </span>
                    </span>
                </dd>
            </dl>
        </li>
        <li class="people-details">
            <dl>
                <dt>Estimated By:</dt>
                <dd id="open-poker-js-estimators">
                    #if($viewDTO.getSession().getEstimates().size() == 0)
                        none
                    #else
                        #foreach($estimate in $viewDTO.getSession().getEstimates())
                            <span class="aui-avatar aui-avatar-small">
                                <span class="aui-avatar-inner op-estimator-tooltip"
                                      data-title="$estimate.getEstimator().getFullName()"
                                      title="$estimate.getEstimator().getFullName()">
                                    <img src="$contextPath/secure/useravatar?size=small&amp;ownerId=$estimate.getEstimator().getUsername()"
                                         alt="$estimate.getEstimator().getFullName()">
                                </span>
                            </span>
                        #end
                    #end
                </dd>
            </dl>
        </li>
        <li class="people-details">
            <dl>
                <dt>Status:</dt>
                <dd>
                    $viewDTO.getSession().getStatus().getName()
                </dd>
            </dl>
        </li>
    </ul>


    <form action="/jira/plugins/servlet/open-poker/session" method="post" class="aui left-aligned-form"
          style="margin-top: 5px">
        <input name="issueId" value="$issueId" type="hidden"/>
        <input name="userId" value="$userId" type="hidden"/>
        #if(!$viewDTO.isAlreadyVoted())
            <div class="field-group">
                <label for="estimationInfo">Your Estimate:</label>
                <aui-select name="estimationGradeId" placeholder="Choose Estimate" style="max-width: 150px"
                            no-empty-values="false">
                    <aui-option class="imagebacked" value="No estimationInfo">No estimation</aui-option>
                    #foreach($grade in $viewDTO.getEstimationGrades())
                        <aui-option class="imagebacked" value="$grade.getId()">$grade.getValue()</aui-option>
                    #end
                </aui-select>
            </div>
        #end
        <p>
            #if(!$viewDTO.isAlreadyVoted())
                <input name="action" type="submit" value="Vote" class="aui-button aui-button-primary"
                       style="margin-top: 5px"/>
            #end
            #if($userId == $viewDTO.getSession().getModerator().getId())
                <input name="action" type="submit" value="Stop Session" class="aui-button" style="margin-top: 5px"/>
            #end
        </p>
    </form>
    #elseif($viewDTO.getSession().getStatus() == "FINISHED")
    <table class="aui aui-table-list" style="max-width: 355px">
        <thead>
        <tr>
            <th id="estimator">Estimator</th>
            <th id="estimate">Estimate</th>
        </tr>
        </thead>
        <tbody>
            #foreach($estimate in $viewDTO.getSession().getEstimates())
            <tr>
                <td headers="estimator">
                <span class="aui-avatar aui-avatar-small"><span class="aui-avatar-inner">
                    <img
                            src="$contextPath/secure/useravatar?size=small&amp;ownerId=$estimate.getEstimator().getUsername()"
                            alt="admin"></span></span>
                    $estimate.getEstimator().getFullName()
                </td>
                <td headers="estimate">
                    $estimate.getGrade()
                </td>
            </tr>
            #end
        </tbody>
    </table>
    <p>
    <form action="/jira/plugins/servlet/open-poker/session" method="post">
        <input name="issueId" value="$issueId" type="hidden"/>
        <input name="userId" value="$userId" type="hidden"/>
        <input name="action" type="submit" value="Re-estimate" class="aui-button aui-button-primary"/>
    </form>
    </p>
    #end
#else
<div>
    <p>
        There's no estimation session In Progress
    </p>
    <p>
    <form action="/jira/plugins/servlet/open-poker/session" method="post">
        <input name="issueId" value="$issueId" type="hidden"/>
        <input name="userId" value="$userId" type="hidden"/>
        <input name="action" type="submit" value="Start Estimation Session" class="aui-button"/>
    </form>
    </p>
</div>
#end